.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0px auto;
}

.profile-container section {
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: -4%;
  text-align: center;
  background-color: #DAA520;
}

.profile-container header {
  display: flex;
  width: 100%;
  margin-left: 0%;
}

.profile-container header span {
  font-size: 38px;
  width: 400px;
  color: #4F4F4F;
}

.profile-container header img {
  height: 64px;
}

.profile-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.profile-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid rgb(187, 183, 183);
  background: transparent;

  transition: border-color 0.2s;
}

.profile-container header button:hover {
  border-color: #4F4F4F;
}

.profile-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
  margin-left: 32%;
  color: #4F4F4F;
}

.profile-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.profile-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: transparent;
}

.edit-icon{
margin: 0 30px;
}

.profile-container ul li button:hover {
  opacity: 0.8; 
}

.profile-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #DAA520;
}

.profile-container ul li p + strong {
  margin-top: 32px;
}

.profile-container ul li p {
  color: #4F4F4F;
  line-height: 21px;
  font-size: 16px;
}

.button {
  margin-right: 16px;
}

.drop-item {
  font-size: 12px;
  font-weight: 700;
  color: rgb(148, 144, 144);
  display: block;
  margin-top: -2px;
}
