@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Merriweather, serif;
  background: #F8F8FF;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px Merriweather, serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #868695;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 24px;
  background: #FFFFFF;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 60px;
  color: #868695;
  border: 1px solid #1C1C1C;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
  background: #09090a;
}

.button {
  width: 100%;
  height: 60px;
  background: #DAA520;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%)
}

.back-link{
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #778899;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg{
  margin-right: 8px;
}
.back-link:hover{
  opacity: 0.8;
}